body {
  background-color: #f7f5f5;
  font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;
}
header{
    background-color: white;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: black;

}
.navbar span {
  font-size: xxx-large;
  font-weight: bolder;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar ul a {
  text-decoration: none;
  margin: 1rem;
  color: #000;
}
.main {
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
  width: 100rem;
}
.main__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__content .imgColor {
  width: 50rem;
}
.main__content .description{
  width: 38rem;
  text-align: center;
}
.main__content .description p {
  width: 38rem;
  text-align: justify;
}
.main__content img {
  width: 100%;
}
.main button {
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  cursor: pointer;
}
.main .whiteButton {
  background-color: #ffffff;
  border: none;
}
.main .blueButton {
  background-color: #282ece;
  border: none;
}
.main .yellowButton {
  background-color: #f5fc41;
  border: none;
}
.main .greenButton {
  background-color: #23ac2e;
  border: none;
}
